{% assign gallery = site.galleries | where: "page", page.url | first %}
{% if gallery %}
  <div class="clearfix"></div>
  <div class="article-gallery m-top-3">
    <h3>Galerie</h3>
    <ul class="article-gallery-list">
      {% assign photos = site.photos |
           where: "gallery", gallery.page |
           sort: "position" %}
      {% for photo in photos %}
        <li class="article-gallery-item img-full">
          {% assign author = site.data.authors[photo.author] %}
          <a href="{{ photo.image | relative_url }}"
             data-rel="lightcase:gallery"
             class="article-gallery-link"
             title="{{ author.name }} &ndash; {{ photo.title }}"
             data-lc-title="{{ author.name }} &ndash; {{ photo.title }}"
             data-categories="{{ photo.tags | join: " " }}">
             <img src="{{ photo.content_thumbnail | default: photo.image | relative_url }}"
                  class="object-fit-cover" data-object-fit="cover"
                  alt="{{ photo.content | markdownify | strip_html}}"/>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
