{%- capture tag_slugs -%}
  {%- for tag in include.photo.tags -%}
    {%- capture tag_slug %} {% include helpers/slug.html page=tag %}{%- endcapture -%}
  {%- endfor -%}
{%- endcapture -%}
{% assign author = site.data.authors[include.photo.author] %}
<li class="gallery-item firstItem isotope-item {{ tag_slugs }}">
  <div class="item_img img-intro img-intro__left">
    <a class="zoom"
       href="{{ include.photo.image | relative_url }}"
       data-rel="lightcase:gallery"
       title="{{ author.name }} &ndash; {{ include.photo.title }}"
       data-lc-title="{{ author.name }} &ndash; {{ include.photo.title }}"
       data-categories="{{ tag_slugs }}">
      <img src="{{ include.photo.gallery_thumbnail | default: include.photo.image | relative_url }}"
           class="gallery__image object-fit-cover" data-object-fit="cover"
           alt="{{ include.photo.content | markdownify | strip_html }}"/>
    </a>
  </div>
  <div class="item_header">
    <h5 class="item_title">{{ include.photo.title | truncate: 35 }}</h5>
  </div>
  <div class="item_introtext">
    {{ include.photo.content | markdownify | truncatewords: 10 }}
    (<i>{{ author.name }}</i>)
  </div>
  <div class="clearfix"></div>
</li>
