<div id="header-row">
  <div class="row-container">
    <div class="container-fluid">
      <header>
        <div class="row-fluid">
          <div id="logo" class="span2">
            <a href="/">
              <img alt="vydryonline" class="logo"
                src=
                  {% editable_file 'logo', hint: "Upload a logo (perfect size: 206px by 61px)", block: 'Header', fixed: true %}
                      http://placehold.it/120x120
                  {% endeditable_file %}
                />
            </a>
          </div>

          <div id="claim" class="span7">
            <h3>
              {% editable_text "Claim", block: "header", rows: 1, format: 'raw', fixed: true %}Vydry online nejsou offline!{% endeditable_text %}
            </h3>
          </div>

          <div class="moduletable search-block  span3">
              <div class="mod-search mod-search__search-block">
                <form action="{% path_to search %}" method="get" class="navbar-form">
                  <label for="searchword" class="element-invisible">
                    {% capture search_label %}{% editable_text "Search", block: "header", rows: 1, format: 'raw' %}Hledat...{% endeditable_text %}{% endcapture %}
                    {{ search_label }}
                  </label>
                  <input id="searchword" name="searchword" maxlength="20" class="inputbox mod-search_searchword" type="text" size="20" value="{{ search_label }}" onblur="if (this.value=='') this.value='{{ search_label }}';" onfocus="if (this.value=='{{ search_label }}') this.value='';" />
                  <input type="image" value="Search" class="buttonsearch-block" src={{ 'searchButton.gif' | theme_image_url }} onclick="this.form.searchword.focus();" />
                </form>
              </div>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>
