---
title: Default layout
listed: false
editable_elements:
  Header/logo: "/uploads/vyd___stezka_logo_-_pr_hledn_.png"
  header/Claim: 'Vydří stezka na dyji '
---
<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="o27dsTgYww0bzXVmTZ_CgadoY8QtzpDMgo-bVSgH3OM" />

    <title>{{ page.title }} - {{ site.name }}</title>

    <link rel="shortcut icon" href="{{ 'favicon.png' | theme_image_url }}">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

    {{ 'application.css' | stylesheet_tag }}

    {{ 'jquery.min.js' | javascript_tag }}
    <!--
      {{ 'caption.js' | javascript_tag }}
      {{ 'mootools-core.js' | javascript_tag }}
      {{ 'core.js' | javascript_tag }}
      {{ 'bootstrap.js' | javascript_tag }}
      {{ 'supersubs.js' | javascript_tag }}
    -->
    {{ 'jquery.easing.1.3.js' | javascript_tag }}
    {{ 'jquery.isotope.min.js' | javascript_tag }}
    {{ 'touch.gallery.js' | javascript_tag }}
    {{ 'camera.min.js' | javascript_tag }}
    {{ 'jquery.easing.1.3.js' | javascript_tag }}
    {{ 'jquery.mobile.customized.min.js' | javascript_tag }}
    {{ 'superfish.js' | javascript_tag }}
    {{ 'jquery.mobilemenu.js' | javascript_tag }}
    {{ 'jquery.hoverIntent.js' | javascript_tag }}
    {{ 'jquery.lightcase.js' | javascript_tag }}
    {{ 'sftouchscreen.js' | javascript_tag }}
    {{ 'scripts.js' | javascript_tag }}
    {{ 'application.js' | javascript_tag }}

    <!--[if IE 8]>{{ 'ie.css' | stylesheet_tag }}<![endif]-->
    {% google_analytics 'UA-57533252-5' %}
  </head>
  <body class="com_content view-featured task- itemid-101 {% if page.handle == 'home' %}body__home{% endif %}">

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.5&appId=145375228868712";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div id="wrapper">
      <div class="wrapper-inner">
        {% include 'nav' %}
        {% include 'header' %}

        {% block content %}
        {% endblock %}
      </div>
    </div>

    {% include 'footer' %}
    {{ 'lib/polyfill.object-fit' | javascript_tag }}
  </body>
</html>
