---
title: User answers layout
listed: false
layout: |-
  default' %}

  {% block content %}
    <div id="content-row">
      <div class="row-container">
        <div class="container-fluid">
          {% include breadcrumb with pages: page.breadcrumbs %}
          <div class="content-inner row-fluid">
            <!-- Left sidebar -->
            <div id="component" class="span8">

              <div class="page-blog page-blog__">
                <div class="page_header">
                  <h3>
                    <span class="item_title_part0">{% editable_text "Page title", block: "User answers", rows: 1, format: 'raw' %}User answers{% endeditable_text %}</span>
                  </h3>
                </div>
                {% block main %}
                {% endblock %}
              </div>
            </div>
            <!-- Right sidebar -->
            <div id="aside-right" class="span4">
              <aside>
                <div class="moduletable ">
                  <h3 class="moduleTitle ">{% editable_text "Categories title", block: "User answers", rows: 1, format: 'raw' %}Categories{% endeditable_text %}</h3>
                  <ul class="categories-module">
                    {% if params.category %}
                      <li>
                        <p>
                          <a href="{% path_to user_answers %}?">Zobrazit vše</a>
                          <br/>
                        </p>
                      </li>
                    {% endif %}

                    {% for category in contents.categories %}
                      {% if category.user_answers.any? %}
                        <li>
                          <a href="{% path_to user_answers %}?category={{ category._slug }}">
                            {{ category.name }}
                          </a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
                <div class="moduletable ">
                  <h3 class="moduleTitle ">{% editable_text "Archives title", block: "User answers", rows: 1, format: 'raw' %}Archives{% endeditable_text %}</h3>

                  <ul class="archive-module">
                    {% if params.from or params.to %}
                      <li>
                        <p>
                          <a href="{% path_to user_answers %}?">Zobrazit vše</a>
                          <br/>
                        </p>
                      </li>
                    {% endif %}

                    {% assign previous_date = contents.user_answers.first.published_at | plus: 2678400 | date: '%Y/%m' %}

                    {% for answer in contents.user_answers %}
                      {% assign from = answer.published_at | date: "%Y/%m" %}

                      {% if from != previous_date %}
                        <li>
                          <a href="{% path_to user_answers %}?from={{from}}&to={{previous_date}}">{{ answer.published_at | date: "%-m/%Y"}}</a>
                        </li>
                        {% assign previous_date = answer.published_at | date: "%Y/%m" %}
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
                <div class="moduletable aside">
                  {% include 'question_form
---
</div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
