---
title: Template with right column
listed: false
layout: default
---
{% block content %}
  <div id="content-row">
    <div class="row-container">
      <div class="container-fluid">
        {% include breadcrumb with pages: page.breadcrumbs %}
        <div class="content-inner row-fluid">
          <div id="component" class="span9">
            <div class="page-item page-item__">
              {% block article %}
              {% endblock %}

              {% include content_gallery %}
            </div>
          </div>
          <div id="aside-right" class="span3">
            <aside>
              <div class="moduletable links">
                {% block column %}
                {% endblock %}
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
